@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');
// Chivo font import


* {
  margin: 0;
  padding: 0;
  font-family: chivo;
  font-weight: 400;
  box-sizing: border-box;
}

// header element
$header-background: linear-gradient(rgb(62, 62, 62), rgb(37, 37, 37));
$header-height: 55px;

// footer element
$footer-background: rgb(32, 32, 32);
$footer-height: 48px;
//borders
$border-list: 2px rgb(19, 19, 19) solid;
$border-list-side: 2px rgb(23, 23, 23) solid;
$border-radius: 13px;
//list general styling
$odd-list-color: rgb(33, 33, 33);
$even-list-color: rgb(26, 26, 26);
$list-item-height: 40px;
$hover-list-color: rgb(72, 72, 72);
$email-phone-coloring:  rgb(71, 71, 71);
// dot coloring
$green-dot: rgb(41, 253, 57);
$red-dot: rgb(252, 13, 27);
$yellow-dot: rgb(255, 250, 55);
$gold-dot: rgb(195, 191, 48);;

.contact-widget {
  //coloring
  color: white;
  background-color: black;
  //flex
  display: flex;
  flex-direction: column;
  //heigth-width
  width: 300px;
  min-height:200px;
  //margin
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  //border
  border: 2px solid;
  background-image: linear-gradient(rgb(76,76,76), rgb(37,37,37));
  border-radius: 15px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  //main header component
  & > div:first-child {
    background-image: $header-background;
    border-radius: $border-radius $border-radius 0 0;
    height: $header-height;
    padding: 18px 10px 10px 20px;
    display: flex;
    font-weight: 590;
    justify-content: start;
  }

  //main footer component
  & > div:last-child {
    background-color: $footer-background;
    border-radius: 0 0 $border-radius $border-radius;

    height: $footer-height;
    
    display: flex;
    justify-content: flex-end;
    & > select {
      border-radius: 5px;
      padding: 0 10px 0 5px;
      height: 17px;
      font-size: .65em;
      margin: 15px 10px 10px 10px;
    }
  }
}

// main list component
.contact-widget-list-container {
    border-top:$border-list;
      & > ul > li
      {
        background-color: $even-list-color;
        height: $list-item-height;
        display: flex;
        flex-direction: row;
        border-bottom:$border-list;
        & > span:first-child{
          width: 5%;
          margin: auto auto auto 10px;
          text-align: start;
          font-size: 1.6em;
          color: $green-dot;

        }
        // sets first span with •
        & > span:nth-child(2){
          width: 25%;
          margin: auto auto auto 10px;
          text-align: start;
          font-size: small;
        }
        // invisible span for border
        & > span:nth-child(3){
          border-right:$border-list-side;
        }
        // for phone/email span
        & > span:last-child {
          width: 70%;
          font-size: 13.5px;
          color: $email-phone-coloring;
          margin: auto;
          text-align: start;
          margin-left: 10px;
          font-size: small;
        }
      }

      // for changing color of every other row
      & > ul > li:nth-child(odd) {
        background: $odd-list-color; 
      }

      //for styling the dots
      & > ul > li:nth-child(5) > span:first-child {
        color: $red-dot;
      }
      & > ul > li:nth-child(6) > span:first-child {
        color: $gold-dot;
      }
      & > ul > li:nth-child(8) > span:first-child {
        color: $yellow-dot;
      }

      //on hover styling effect
      & > ul > li:hover {
        background-color: $hover-list-color;
        border: 0;
        & > span {
          border: none;
        }
        & > span:last-child {
          width: 70%;
          background-color: $hover-list-color;
          z-index: 1;
          padding: 10px 10px 10px 20px;
          color: white;
        }
      }

}
